body {
    background-color: #0b2d39;
    color: #e9f5f9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

.header {
    width: 100%;
    text-align: center;
    }

@media (min-width: 768px) {
    section {
        margin: 0;
        width: 80%;
        display: inline-block;
        
    }
}

#img-div {
    background-color: #1a6985;
    justify-content: center;
    padding: 10px;
    margin: auto;
    width: 95%;
}

#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }


  h2, ul, #bio-des{
    text-align: left;
  }

  a {
    color: #be4d25
  }

  a:visited {
    color: #d8947c
  }


  footer {

    display: flex;
    background-color: #071e26;
    width: 100%;
    height: 10%;
    justify-content: center;
    padding: 10px;
  }

  #footImg {
    align-items: left;
  }